/*!
  * Item: Kitzu
  * Description: Personal Portfolio Template
  * Author/Developer: Exill
  * Author/Developer URL: https://themeforest.net/user/exill
  * Version: v2.0.0
  * License: Themeforest Standard Licenses: https://themeforest.net/licenses
  */
  .content-block {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bg-video-about.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
  }
  .single-service{
    height: 180px;
    margin-bottom: 40px!important;
    cursor: pointer;
  }
  .carousel img,.carousel video{
    width: 100%;
    border: 15px solid #212529;
  }
  .single-item{
    padding: 30px;
    margin-bottom: 30px;
  }
  @media (max-width: 530px) {
    .single-item{
      margin-bottom: 40px;
    }
    .lity-container,.lity-content,.lity-iframe-container{
      height: 100%!important;
    }
  }